<section id="simple-table">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">Field List</h4>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group form-inline col-3 col-12">
            <label
              >Search:
              <input
                class="form-control square"
                placeholder="Search "
                type="text"
                name="searchTerm"
                [(ngModel)]="searchText"
            /></label>
          </div>
        </form>
        <div class="table-responsive table">
          <div class="outer">
            <div class="inner">
              <table class="table m-0">
                <thead>
                  <tr class="refresh">
                    <th scope="col" class="listtr col1">S.No</th>
                    <th scope="col" class="listtr pointer">Type</th>
                    <th scope="col" class="listtr pointer">Name</th>
                    <th scope="col" class="listtr pointer">Label</th>
                    <th scope="col" class="listtr pointer">Placeholder</th>
                    <th scope="col" class="listtr">Status</th>
                    <th scope="col" (click)="goToForm()" class="pointer listtr">
                      <i class="ft-plus font-medium-3 mr-2"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let j of fieldNamesList | filter: searchText | slice: (page - 1) * pageSize:page * pageSize;
                      index as i
                    "
                  >
                    <td scope="row" class="pt-3 wrap-text col1">{{ (page - 1) * pageSize + i + 1 }}</td>
                    <td class="pt-3 wrap-text">{{ j.type }}</td>
                    <td class="pt-3 wrap-text">{{ j.name }}</td>
                    <td class="pt-3 wrap-text">{{ j.ui.label }}</td>
                    <td class="pt-3 wrap-text">{{ j.ui.placeholder }}</td>
                    <td class="pt-3 wrap-text">
                      <div
                        class="badge badge-pill"
                        [ngClass]="{
                          'bg-light-success': j.status == 'Active',
                          'bg-light-danger': j.status == 'InActive'
                        }"
                      >
                        {{ j.status }}
                      </div>
                    </td>
                    <td class="pointer"><i class="ft-edit-2 font-medium-3 mr-2" (click)="findById(j.configId)"></i></td>
                  </tr>
                  <tr *ngIf="show">
                    <td class="pt-3 wrap-text col1">No data found</td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2" *ngIf="fieldNamesList?.length>0">
                <ngb-pagination
                  [collectionSize]="fieldNamesList?.length"
                  [(page)]="page"
                  [maxSize]="4"
                  [boundaryLinks]="true"
                  [pageSize]="pageSize"
                  class="d-flex justify-content-center"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
