<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{pageTitle}}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="statusForm">
              <div class="form-row">
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="Organization">Organization</label>
                    <select id="Organization" (change)="changeOrg($event.target.value)" name="Organization"
                      class="form-control square" formControlName="organization"
                      [ngClass]="{ 'is-invalid': (submitted || f.organization.touched) && f.organization.errors }">
                      <option value="">Choose</option>
                      <option [value]="orgs.organizationId" *ngFor="let orgs of orgListLov">
                        {{orgs.name}}
                      </option>
                    </select>
                    <div *ngIf="(submitted || f.organization.touched)&&f.organization.errors" class="invalid-feedback">
                      <div *ngIf="f.organization.errors.required">
                        Please select your organization
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="Module">Module</label>
                    <select id="Module" name="Module" class="form-control square" formControlName="module"
                      [ngClass]="{ 'is-invalid': (submitted || f.module.touched) && f.module.errors }">
                      <option value="">Choose</option>
                      <option [value]="module.moduleId" *ngFor="let module of moduleList">
                        {{module.moduleName}}
                      </option>
                    </select>
                    <div *ngIf="(submitted || f.module.touched)&&f.module.errors" class="invalid-feedback">
                      <div *ngIf="f.module.errors.required">
                        Please select your module
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Name" class="form-control square" name="name"
                      formControlName="name"
                      [ngClass]="{ 'is-invalid': (submitted || f.name.touched) && f.name.errors }">
                    <div *ngIf="(submitted || f.name.touched)&&f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">
                        Please enter your status name
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="Description">Description</label>
                    <input type="text" id="Description" placeholder="Description" class="form-control square"
                      name="Description" formControlName="description"
                      [ngClass]="{ 'is-invalid': (submitted || f.description.touched) && f.description.errors }">
                    <div *ngIf="(submitted || f.description.touched)&&f.description.errors" class="invalid-feedback">
                      <div *ngIf="f.description.errors.required">
                        Please enter your description
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control square" formControlName="status"
                      [ngClass]="{ 'is-invalid': (submitted || f.status.touched) && f.status.errors }">
                      <option value="">Choose</option>
                      <option value="Active">Active</option>
                      <option value="InActive">InActive</option>
                    </select>
                    <div *ngIf="(submitted || f.status.touched)&&f.status.errors" class="invalid-feedback">
                      <div *ngIf="f.status.errors.required">
                        Please select your status
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-unstyled mb-0  ml-2 mt-4">
                  <li class="d-inline-block mr-2 mb-2">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="color-checkbox-1" formControlName="wfFlag">
                      <label for="color-checkbox-1"><span>WF Flag</span></label>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled mb-0  ml-2 mt-4">
                  <li class="d-inline-block mr-2 mb-2">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="color-checkbox-2" formControlName="defaultStatus">
                      <label for="color-checkbox-2"><span>Default Status</span></label>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled mb-0  ml-2 mt-4">
                  <li class="d-inline-block mr-2 mb-2">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="color-checkbox-3" formControlName="financeImpact">
                      <label for="color-checkbox-3"><span>Finance Impact </span></label>
                    </div>
                  </li>
                </ul>
              </div>
            </form>
            <button type="button" *ngIf="!isEdit" (click)="onSubmitStatusForm()" class="btn btn-primary mr-2">
              <i class="ft-check-square mr-1"></i>
              Save
            </button>
            <button type="button" *ngIf="isEdit" (click)="onEditStatusForm()" class="btn btn-primary mr-2">
              <i class="ft-check-square mr-1"></i>
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
