<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-md-12  col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{pageTitle}}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="userRoleForm">
              <div class="form-row">
                <div class="col-md-4 col-12">
                  <div class="form-group mb-2">
                    <label for="user">User</label>

                    <ng-select [searchable]="true" placeholder="User" formControlName="users"
                      [ngClass]="{ 'is-invalid': (submitted || f.users.touched) && f.users.errors }">
                      <ng-option *ngFor="let user of registerList" [value]="user.SNO">
                        {{user.UserName}}</ng-option>

                    </ng-select>
                    <div *ngIf="(submitted || f.users.touched)&&f.users.errors" class="invalid-feedback">
                      <div *ngIf="f.users.errors.required">
                        Please select your user
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-12">
                  <div class="form-group mb-2">
                    <label for="role">Role</label>
                    <ng-select [items]="roleList" bindValue="SNO" bindLabel="RoleName" [multiple]="true"
                      placeholder="Select Role" formControlName="roles">
                      <ng-template ng-header-tmp>
                        <!-- <div>
                        <button class="btn btn-link" (click)="onSelectAllSupplier()">Select
                          All</button>
                        <button class="btn btn-link" (click)="onClearAllSupplier()">Clear
                          All</button>
                      </div> -->
                      </ng-template>
                      <ng-template ng-multi-label-tmp let-items="items">
                        <div class="ng-value" *ngFor="let item of items | slice:0:0">
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items?.length > 0">
                          <span class="ng-value-label">{{items.length}} selected</span>
                        </div>
                      </ng-template>
                    </ng-select>

                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="form-group mb-2">
                    <label for="Status">Status</label>
                    <select id="Status" name="Status" class="form-control square" formControlName="status"
                      [ngClass]="{ 'is-invalid': (submitted || f.status.touched) && f.status.errors }">
                      <option value="">Choose</option>
                      <option value="Active">Active </option>
                      <option value="InActive">InActive</option>
                      <option value="Block">Block</option>
                    </select>
                    <div *ngIf="(submitted || f.status.touched)&&f.status.errors" class="invalid-feedback">
                      <div *ngIf="f.status.errors.required">
                        Please select your status
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button type="button" *ngIf="!isEdit" (click)="onSubmitUserRoleMappingForm()"
                class="btn btn-primary mr-2">
                <i class="ft-check-square mr-1"></i>
                Save
              </button>

              <button type="button" *ngIf="isEdit" (click)="onEditUserRoleMappingForm()" class="btn btn-primary mr-2">
                <i class="ft-check-square mr-1"></i>
                Update
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
