<div class="container-fluid">

  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center">Tl To Team List</h4>
    </div>
    <div class="card-body">
      <fieldset class="form-group" *ngIf="tlToteamList && tlToteamList.length >0">
        <label>Show
          <select name="users-list-select"[(ngModel)]="pageSize"(ngModelChange)="getTLToTeamList()" class="form-control form-control-sm d-inline-block width-100 p-right-25 ">
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
          entries</label>
        <label for="ngx-filter-ref" class="float-right">Search:
          <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 "type="text" [(ngModel)]="searchText" id="search" placeholder="Search"/>
        </label>
      </fieldset>
      <div class="table-responsive table">
        <div class="outer">
          <div class="inner">
            <table class="table  m-0">
              <thead>
                <tr class="refresh pointer">
                  <th scope="col">S.No</th>
                  <th scope="col"[appSort]="tlToteamList" data-order="desc"data-name="organizationName">Organization</th>
                  <th scope="col" [appSort]="tlToteamList" data-order="desc"data-name="teamName">Team</th>
                  <th scope="col" [appSort]="tlToteamList" data-order="desc"data-name="teamLeaderName">Team Leader</th>
                  <th scope="col" [appSort]="tlToteamList" data-order="desc"data-name="moduleName">Module</th>
                  <th scope="col" [appSort]="tlToteamList" data-order="desc"data-name="status">Status</th>
                  <th scope="col" [appSort]="tlToteamList" data-order="desc"data-name="startDate" >Start Date</th>
                  <th scope="col"  (click)="gotoTlToTeamform()">
                    <i class="ft-plus font-medium-3 mr-2"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let j of tlToteamList | filter:searchText | slice: (page-1) * pageSize : page * pageSize; index as i;">
                  <td scope="row" class="pt-3 wrap-text ">{{ (page -1) * pageSize + i + 1 }}</td>
                  <td class="pt-3 wrap-text">{{j.organizationName}}</td>
                  <td class="pt-3 wrap-text">{{j.teamName }}</td>
                  <td class="pt-3 wrap-text">{{j.teamLeaderName }}</td>
                  <td class="pt-3 wrap-text">{{j.moduleName }}</td>


                  <td class="pt-3 wrap-text">
                    <div class="badge badge-pill"
                      [ngClass]="{ 'bg-light-success':j.status == 'Active', 'bg-light-danger':j.status == 'InActive' }">
                      {{ j.status}}
                    </div>
                  </td>
                  <td class="pt-3 wrap-text">{{j.startDate| date: 'dd-MMM-yyyy' }}</td>
                  <td class="pointer"><i class="ft-edit-2 font-medium-3 mr-2" (click)="findById(j.tId)"></i></td>
                </tr>
                <tr *ngIf="show">
                  <td class="pt-3 wrap-text col1">
                    No data found
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2" *ngIf="tlToteamList?.length >0">
              <p>Showing 1 to {{pageSize}} of {{tlToteamList?.length}} entries</p>
              <ngb-pagination [collectionSize]="tlToteamList?.length" [(page)]="page" [maxSize]="10"
                [boundaryLinks]="true" [pageSize]="pageSize" class="d-flex justify-content-center">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
