<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center"> Transitions List</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group form-inline col-3 col-12">
          <label>Search:
            <input class="form-control square" placeholder="Search" type="search" name="searchTerm"
              [(ngModel)]="searchText" /></label>
        </div>
      </form>
      <div class="table-responsive table">
        <div class="outer">
          <div class="inner">
            <table class="table  m-0">
              <thead>
                <tr class="refresh">
                  <th scope="col" class="col1 ">S.No</th>
                  <th scope="col" >Module</th>
                  <th scope="col" >From Status</th>
                  <th scope="col" >To Status</th>
                  <!-- <th scope="col" >Milestone</th> -->
                  <th scope="col" >Status</th>
                  <th scope="col" class="pointer" (click)="gotoTransitionsform()">
                    <i class="ft-plus font-medium-3 mr-2"></i>
                  </th>
                </tr>

              </thead>
              <tbody>
                <tr
                  *ngFor="let j of transitionsList | filter:searchText | slice: (page-1) * pageSize : page * pageSize; index as i;">
                  <td scope="row" class="col1">{{ (page -1) * pageSize + i + 1 }}</td>
                  <td class="pt-3 wrap-text ">{{j.moduleNames}}</td>
                  <td class="pt-3 wrap-text">{{j.fromStatusName }}</td>
                  <td class="pt-3 wrap-text">{{j.toStatusName }}</td>
                  <td class="pt-3 wrap-text">
                    <div class="badge badge-pill"
                      [ngClass]="{ 'bg-light-success':j.STATUS == 'Active', 'bg-light-danger':j.STATUS == 'InActive' }">
                      {{ j.STATUS}}
                    </div>
                  </td>
                  <td class="pointer"><i class="ft-edit-2 font-medium-3 mr-2" (click)="findById(j.transitionId)"></i>
                  </td>
                </tr>
                <tr *ngIf="show">
                  <td class="pt-3 wrap-text">
                    No data found
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2" *ngIf="transitionsList?.length >0">
              <ngb-pagination [collectionSize]="transitionsList?.length" [(page)]="page" [maxSize]="10"
                [boundaryLinks]="true" [pageSize]="pageSize" class="d-flex justify-content-center">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
